{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center mb-5 text-white">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Boost website visibility and rankings with expert SEO services. Contact me today.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Create beautiful and functional websites with our expert web design services. Contact us now.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Devlopment</h3>
            <p class="ss-color">Custom web development services for modern, responsive websites. Contact us for a quote today.</p>
        </div> 
    </div>
    
    <div class="row text-center mb-5 text-white">
        <div class="col-sm-4">
            <i class="fab fa-android fa-2x i-color"></i>
            <h3>Android</h3>
            <p class="ss-color">Optimize your website for the best mobile viewing experience with our Android web services. Contact us.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-apple fa-2x mb-3 i-color"></i>
            <h3>iOS</h3>
            <p class="ss-color">Optimize your website for the best mobile viewing experience with our iOS web services. Contact us.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-ad fa-2x mb-3 i-color"></i>
            <h3>Advertising</h3>
            <p class="ss-color">Increase your online presence and drive traffic with effective web advertising services. Contact us.</p>
        </div> 
    </div>
    
    <div class="row text-center mb-5 text-white">
        <div class="col-sm-4">
            <i class="fas fa-pencil-alt fa-2x i-color"></i>
            <h3>Logo Design</h3>
            <p class="ss-color">Create a powerful brand identity with our professional logo designing services. Contact us today.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">Reliable web hosting services with top-notch security and 24/7 support. Contact us for more information.</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">Get expert technical support for your website or software. Contact us for prompt assistance.</p>
        </div> 
    </div>
</div>
{% endblock content %}